
body,
html {
  background: #f5f8fd url("./assets/circle-scatter-haikei.svg")  no-repeat;
  background-size: cover;
  background-attachment: fixed;
}



.center {
  display: flex;
  align-items: center;
  justify-content: center;

}