.navbar .navbar-brand {
  color: #f5f8fd;
  font-size: 29px;
  background-color: transparent;
}
.navbar-nav .nav-link{
  color: #f5f8fd;
  font-size: 15px;
}

.navbar-toggler .navbar-toggler-icon{
  color: #f5f8fd;

}

.navbar-toggler .navbar-toggler-icon:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 9;
}